@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap");

:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: white;
}

body {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* buttons */
.button {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.button:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Movie Page (for Watchlist.js and Watched.js) */
.movie-page {
  padding: 30px 0;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: var(--secondary);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  color: var(--primary);
}

.movie-page .heading {
  color: var(--primary);
  margin: 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}
